<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar affix-top">
        <div class="wr-action-container">
            <div class="wr-action-btn-bar">
                <a class="cu-btn page-title" href="dashboard">
                    <span class="fw-stack"></span>
                    Dashboard
                </a><a id="{{this.id}}" href='{{url ""}}/../store/t/carbon.super' class="cu-btn {{this.iconClass}}">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-store fw-stack-1x"></i>
                    </span>
                    WSO2 {{t "Template Store"}}
                </a>				
            </div>
        </div>
    </div>
</div>


